html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/free.min.css")
        link(rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/brand.min.css")
        link(rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/flag.min.css")
        style
            include ../../node_modules/@coreui/coreui/dist/css/coreui.css
            include ../../node_modules/@coreui/coreui/css/nav.css
            //-include ../node_modules/@coreui/icons/css/free.min.css
            //-include ../node_modules/@coreui/icons/css/brand.min.css
            //-include ../node_modules/@coreui/icons/css/flag.min.css
            include ../../public/assets/css/videoplayer.css
            include ../../public/assets/css/chart.css
            
        script
            include ../../public/assets/js/jquery-3.3.1.min.js